*.iml
.gradle
/.idea
/.history
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/plans
/docs/plans/
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.jks
*.keystore
app/release/
app/build/
outputs/
